attrs
autopep8
click
coverage
Flask
Flask-Caching
gunicorn
importlib-metadata
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
py
pycodestyle
pyparsing
pytest
pytest-cov
pytest-flask
sqlite-fts4
toml
typing-extensions
Werkzeug
zipp